@import url("https://fonts.googleapis.com/css2?family=Metrophobic&family=Roboto+Condensed:wght@300&display=swap");

:root {
  --primary-white: #fff;
  --primary-red: #a52020;
  --primary-dark: rgba(255, 255, 255, 0);
  --primary-hover-red: #f33501;
}

body {
  font-family: "Metrophobic", sans-serif;
}

/************************** Navbar styling **********************************/

.logo {
  width: 16.25rem;
}

/* Nav menu link styling */

nav a.nav-link {
  /* font-size: ; */
  letter-spacing: 0.12rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-white) !important;
  border-bottom: 0.1875rem solid var(--primary-dark);
  /* by using this border bottom, it holds a place so the text doesn't move up&down when clicked */
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
  height: 3rem !important;
}

.navbar-nav > li > a.active,
.navbar-nav > li > a.active:focus {
  border-bottom: 0.1875rem solid var(--primary-red);
}

.navbar-nav > li > a:hover {
  border-bottom: 0.1875rem solid var(--primary-red);
}

/************************** Header styling **********************************/

.header-wrapper {
  position: relative;
  background: url(computer-wall.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
}

.main-info {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Metrophobic", sans-serif;
}

.main-info h1 {
  color: var(--primary-red);
  text-transform: capitalize;
}

/************************** Typed-effect text **********************************/

.typed-text {
  font-size: 2rem;
  color: var(--primary-white);
}

/************************** header main offer button **********************************/

.btn-main-offer {
  border: 1px solid var(--primary-red);
  text-transform: uppercase;
  border-radius: 0;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color: var(--primary-white);
  margin: 2rem;
}

.tsparticles-canvas-el {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}
