@import url("https://fonts.googleapis.com/css2?family=Metrophobic&family=Roboto+Condensed:wght@300&display=swap");

:root {
  --primary-white: #fff;
  --primary-red: red;
  --primary-dark: rgba(255, 255, 255, 0);
}

body {
  font-family: "Metrophobic", sans-serif;
}

/************************** Navbar styling **********************************/

.logo {
  width: 16.25rem;
}

/* Nav menu link styling */

nav a.nav-link {
  /* font-size: ; */
  letter-spacing: 0.12rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-white) !important;
  border-bottom: 0.1875rem solid var(--primary-dark);
  /* by using this border bottom, it holds a place so the text doesn't move up&down when clicked */
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
  height: 3rem !important;
}

.navbar-nav > li > a.active,
.navbar-nav > li > a.active:focus {
  border-bottom: 0.1875rem solid var(--primary-red);
}

.navbar-nav > li > a:hover {
  border-bottom: 0.1875rem solid var(--primary-red);
}
